/** Stick Footer **/

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 4em;
}

body {
	background-image: url('../images/concrete_seamless.png');
}

/** Typography **/
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

nav h2 {
	display: inline-block;
	padding: 15px;
	background-color: #4aaaa5;
	margin: 0;
	color: white;
}

header h2, h4 {
	color: #4aaaa5;
	margin-top: 0;
	margin-bottom: 13px;
}

/** Navbar **/
nav {
	background-color: #ffffff;
	padding-top: 15px;
	border-bottom: 2px solid #cccccc;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.links {
	margin-top: 10px;
	float: right;
}

.link {
  color: #777777;
  padding: 15px 10px 15px 30px;
  text-decoration: none;
}